<%- include('../partials/header.ejs')%>
        
        <div class="detail">
            <img src="<%= item.image%>" alt="<%= item.title%>">
            
            <div class="detail-content">
                <p class="title"><%= item.title%></p>
                <p class="condition"><%= item.condition%></p>
                <p class="price">$<%= item.price%></p>
                <p class="seller"><%= item.seller%> is selling this item.</p>
                <p class="offers">0 offers</p>
                <p class="description"><%= item.details%></p>
    
                <!-- buttons inside the box -->
                <div class="button-container">
                    <form>
                        <button class="edit" type="submit" formmethod="GET" formaction="/items/<%= item.id%>/edit">Edit</button>
                        <button class="delete" type="submit" formmethod="POST" formaction="/items/<%= item.id%>?_method=DELETE">Delete</button>
                    </form>
                </div>
            </div>
        </div>

        <%- include('../partials/footer.ejs')%>