<%- include('../partials/header.ejs') %>

<section class="offers-section">
    <h1>Offers Received for: <%= item.title %></h1>

    <table class="offer-table styled-table">
        <thead>
            <tr>
                <th>Buyer</th>
                <th>Amount</th>
                <% if (item.active) { %>
                    <th>Action</th>
                <% } else { %>
                    <th>Status</th>
                <% } %>
            </tr>
        </thead>
        <tbody>
            <% if (offers.length > 0) { %>
                <% offers.forEach(offer => { %>
                    <tr>
                        <td><%= offer.user.firstName + ' ' + offer.user.lastName %></td>
                        <td>$<%= offer.amount.toFixed(2) %></td>
                        <% if (item.active) { %>
                            <td>
                                <form method="POST" action="/items/<%= item._id %>/offers/<%= offer._id %>/accept">
                                    <button class="accept-offer" type="submit">Accept</button>
                                </form>
                            </td>
                        <% } else { %>
                            <td><%= offer.status %></td>
                        <% } %>
                    </tr>
                <% }); %>
            <% } else { %>
                <tr>
                    <td colspan="3">This item has not received any offers yet.</td>
                </tr>
            <% } %>
        </tbody>
    </table>
</section>

<%- include('../partials/footer.ejs') %>
